<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interactive Political Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="./css/homepage.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> 
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    
    <style>
        
        html{
            zoom: 90%;
        }
        section a {
            text-decoration: none;
        }
        /* style for body */
        body{
            margin: 10rem;
            padding: 0;
            height: 35rem;
            width: 83.75rem;
            background-image:url('./cm.jpg');
            
            background-size:105em 72.5rem;
            /* background-position: center; */
            background-repeat: no-repeat;
            /* height: 720px;
            width: 1280px; */
            background-attachment: fixed;
        }
        /* Styles for the container */
        .container {
            height: 100%;
            /* padding: 20px; */
            margin-left: 8.0em;
            margin-top: 15.8em;
            width: 120%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
        } 
        /* Styles for the sections */
        .section {
            display: flex;
            flex-basis: calc(50% - 10px);
            justify-content: center;
            align-items: center;
            width:120px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            
            /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2); */
            /* background-color: #fff; */
            transition: all 0.3s ease;
        }
        
        /* Styles for the sections when hovered */
        button:hover {
            transform: scale(1.05);
            /* box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3); */
        }
        
        /* Styles for the section headings */
        .button h2 {
            font-size: 21px;
            margin: 0;
            color: #333;
            text-shadow: 1px 1px #ccc;
            
        }
        /* Styles for the section buttons */
        button {
            width: 21.25em;
            border: 2px solid transparent;
            /* color: white; */
            border-radius: 2%;
            /* background-color:transparent; */
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 4px 4px 20px 4px transparent;

        }
        
        /* Styles for the section buttons when hovered */
        /* button:hover {
            transform: scale(1.2);
        } */
        #header{
            /* background-color: blue; */
            margin-top: -6.0em;
            margin-left: 12.75em;
            margin-bottom: 2em;
            min-width: 850px;
        }
        #header h1 {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: xx-large;
            /* background-color: rgba(100, 187, 220, 0.4); */
            background-color: darkblue;
            color: white;
            margin-left: 49px;
            padding: 10px;
            border-radius: 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 5px 5px 10px rgba(100, 187, 220, 0.4) inset, -5px -5px 10px rgba(100, 187, 220, 0.4) inset;
            }

        #overviewbtn{
            margin-right: 220px;

        }
        #constituencybtn{
            margin-left: 220px;
        }
        #communitybtn{
            margin-right: 220px; 
            margin-top: 100px;

        }
        #trendbtn{
            margin-left: 220px; 
            margin-top: 100px;

        }
       
        button:hover:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50px;
            z-index: -1;
        }
        .allbtn {
    background-color: rgba(11, 133, 11, 0.888);
    border-radius: 10%;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 2px 2px 5px rgba(52, 180, 9, 0.884) inset, -2px -2px 5px rgba(14, 3, 3, 0.977) inset;
    height: 150px;
    width:280px;
}

.logout{
    position:absolute; 
    margin-left:-50px;
}

/* Styles for screens with a maximum width of 600px */




      
        
    </style>
</head>
<body>
    <a href="/logout" title="Logout" class="logout">
        <img src="d.png" alt="Logout" width="50" height="50"  >
      </a>
    <div id="header">
        <h1 style="font-weight:800;">INTERACTIVE POLITICAL DASHBOARD</h1>
    </div>
    <div class="container">
        <div class="section">
            <button id="overviewbtn" title="overview" class="allbtn">
                <a style="text-decoration: none; " href="/overview" >
                    <img src="./overview.png" alt="" width="140px" height="140px" style="margin:-25px">
                </a><br>
                <h2 style="color: white;font-weight:400;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:21px;">OVERVIEW</h2>
            </button>
        </div>
        <div class="section" >
        <button id="constituencybtn" class="allbtn">
            <a style="text-decoration: none;"  href="/constituency" >
                <img src="./constituencyview.png" alt="" width="75px" height="75px" style="margin-top:10px">
            </a><br>
            <h2 style="color: white;font-weight:400; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:21px;">CONSTITUENCY VIEW</h2>
        </button>
        </div>
        <div class="section" >
        <button id="communitybtn" class="allbtn">
            <a style="text-decoration: none;" href="/community" >
                <img src="./communityview.png" alt=""width="140px" height="140px" style="margin:-25px"></a><br>
                <h2 style="color: white; font-weight:400; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:21px;">COMMUNITY VIEW</h2>
        </button>
        </div>
        <div class="section" >
        <button id="trendbtn" class="allbtn">
            <a style="text-decoration: none;" href="/trendysrcp" >
                <img src="./trendview.png" alt=""width="75px" height="75px" style="margin-top:10px">
            </a><br>
            <h2 style="color: white;font-weight:400; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:21px;">TREND VIEW</h2>
        </button>
        </div>
    </div>
</body>
<script src="./js/inactivity.js"></script>  
</html>
