/* For iPads */
@media only   screen and (max-width: 1500px) {
    html {
      zoom: 100%;
  }
  body {
          height: 45rem;
          width: auto;
          background: rgb(0, 206, 161);
      }
  #heading {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  
  }
  #heading h1{
    font-size: xx-large; 
    font-style:italic; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 1.56em;
    width: 21.25em;      
    text-align: center;
  }
      /* parentelement */
      #parentele {
      display: flex;
      /* justify-content: center; */
      border: 4px solid lightgrey;
      height: 82%;
      margin-left: 1.2%;
      margin-right: 1.2%;
      /* margin-top: 1px; */
      background-color: white;
      width: 99.5%
  }
      /* Styling for the left side navbar */
      .left-nav {
    position: absolute;
    float: left;
    margin: -0.8em;
    width: 15em;
    font-size:small;
    color: black;
    box-shadow: inset 2px 2px 4px rgb(0, 206, 161);
    height: 32em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 0.5em;
  }
      /* maincontent css */
  #mainele {
  border: 1px solid black;
  height: 95%;
  width: 85%;
  margin-left: 14.5%;
  background-color: whitesmoke;
  
  /* right: 0; */
  /* margin-left: 20px; */
  /* margin-right: 10px; */
  bottom: 0;
  overflow-x: scroll;
  white-space: nowrap;
  }
    #navbar{
      background-color: rgb(0, 74, 132);
      height: 6.2%;
      margin: 1.2%;
      width: 99.5%;
      display: flex;
      justify-content: end;
    }
    #navbtn{
      background-color: lightgrey;
    display: flex;
    justify-content: end;
    margin-left: 1.2%;
    margin-right: 1.2%;
    margin-top:-1.6%;
    height: 40px;
    width: 99.5%;
  }
      
      /* Set table width to 100% */
      table {
        width: 100%;
        background-color: #ddd;
      }
      /* Add some spacing between table cells */
      td,
      th {
        padding: 1px;
      }
      /* Add some borders to table cells */
      td {
        border: 1px solid #097b1c;
      }
  
      /* Add a gray background color to the header row */
      thead tr {
        background-color: #1013ab;
      }
  
      /* Add a hover effect to table rows */
      tbody tr:hover {
        background-color: #d40f57e7;
      }
  
      /* Customize pagination buttons */
      .paginate_button {
        background-color: #e7e7e7;
        border: 1px solid #ddd;
        color: black;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
  
      .paginate_button:hover {
        background-color: #ddd;
      }
  
      .paginate_button.current {
        background-color: #4CAF50;
        color: white;
      }
  
      /* Customize column filter inputs */
      .dataTables_filter input {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
      }
  
      .dataTables_filter input:focus {
        outline: none;
        box-shadow: 0 0 3px #ddd;
      }
  
   
      /* Style the table */
      table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
  
      /* Style the table headers */
      th {
        background-color: #f2f2f2;
        text-align: left;
        padding: 8px;
        font-size:medium
      }
  
      /* Style the table rows */
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
  
      tr:hover {
        background-color: #ddd;
      }
  
      /* Style the table cells */
      td {
        border: 1px solid #ddd;
        padding: 8px;
      }
  
      .box {
        background-color: #f4f0f0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
        width: 400px;
      }
  
      .box:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
  
      .box h2 {
        margin: 0;
      }
  
      .box2 {
        background-color: #f4f0f0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
        width: 800px;
        margin-left: 450px;
      }
  
      /* section part */
      
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #666;
      }
  
      /* select {
        padding: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        width: 100%;
      } */
  
      .btn {
        padding: 0.5px;
        margin: 0.5px;
        background-color: #16160b;
        color: #fff;
        border: none;
        font-size:smaller;
        border-radius: 4px;
        cursor: pointer;
        width: auto;
      }
  
      .btn:hover {
        background-color: rgb(0, 206, 161);
      }
      .btn.active:hover {
    background-color: #00d904;
  }
      /* Add media queries for responsive design */
      /* @media only screen and (max-width: 600px) { */
  
        /* Adjust the table layout for small screens */
        /* table,
        th,
        td {
          display: block;
          width: 100%;
        }
  
        th,
        td {
          text-align: center;
        } */
      /* } */
  
      /* .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top-color: #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s ease-in-out infinite;
      }
  
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
  
        to {
          transform: rotate(360deg);
        }
      } */
      .loader {
        height: 20px;
        width: 250px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1200px;
        right: 0;
        margin: auto;
        display: none; /* Initially hide the loader */
      }
        .loader--dot {
          animation: loader 3s ease-in-out infinite;
          height: 20px;
          width: 20px;
          border-radius: 100%;
          background-color: black;
          position: absolute;
          border: 2px solid white;
        }
        
        .loader--dot:first-child {
          background-color: #8cc759;
          animation-delay: 0.5s;
        }
        
        .loader--dot:nth-child(2) {
          background-color: #8c6daf;
          animation-delay: 0.4s;
        }
        
        .loader--dot:nth-child(3) {
          background-color: #ef5d74;
          animation-delay: 0.3s;
        }
        
        .loader--dot:nth-child(4) {
          background-color: #f9a74b;
          animation-delay: 0.2s;
        }
        
        .loader--dot:nth-child(5) {
          background-color: #60beeb;
          animation-delay: 0.1s;
        }
        
        .loader--dot:nth-child(6) {
          background-color: #fbef5a;
          animation-delay: 0s;
        }
        
        .loader--text {
          position: absolute;
          top: 200%;
          left: 0;
          right: 0;
          width: 4rem;
          margin: auto;
        }
        
        .loader--text:after {
          content: "Loading";
          font-weight: bold;
          animation: loading-text 3s infinite;
        }
        
        @keyframes loader {
          15% {
            transform: translateX(0);
          }
          45% {
            transform: translateX(230px);
          }
          65% {
            transform: translateX(230px);
          }
          95% {
            transform: translateX(0);
          }
        }
        
        @keyframes loading-text {
          0% {
            content: "Loading";
          }
          25% {
            content: "Loading.";
          }
          50% {
            content: "Loading..";
          }
          75% {
            content: "Loading...";
          }
        }
    .summary-table {
    border-collapse: collapse;
    margin-top: 116px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
  }
  
  .summary-table td,
  .summary-table th {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
    font-size: larger;
  }
  .summary-table-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    text-transform: uppercase;
    color:#ffff;
    width:auto;
    position:absolute;
  }
  .summary-table tr:nth-child(1) td:nth-child(2) {
    background-color: #262bcd; /* red */
    color: #fff; /* white text color */
  }
  .summary-table tr:nth-child(1) td:nth-child(3) {
    background-color: #1cdcb9; /* red */
    color: #fff; /* white text color */
  }
  
  .summary-table tr:nth-child(2) td:nth-child(n+2) {
    background-color: #ff8080; /* red */
    color: #fff; /* white text color */
  }
  
  .summary-table tr:nth-child(2) td:nth-child(n+3) {
    background-color: #ffcc80; /* orange */
  }
  
  .summary-table tr:nth-child(2) td:nth-child(n+4) {
    background-color: #26cd31; /* green */
    color: #fff; /* white text color */
  }
  
  .summary-header-cell {
    font-weight: bold;
    background-color: #f0f0f0;
    text-transform: uppercase; /* uppercase header text */
    padding: 1px; /* increased padding for header cell */
  }
  }