/* @media only screen and (min-width: 760px) and (max-width: 1500px) {
    html {
        zoom: 100%;
    }
    
    section a {
        text-decoration: none;
    }
    
    body {
        padding: 0;
        height: 50rem;
        width: auto;
        position: fixed;
        background-image: url('../cm.png');
        background-size: 90em 100rem;
    }
    
    #header {
        margin-top: -4.5em;
        margin-left: 18.75em;
        margin-bottom: 2em;
    }
    
    #header h1 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .container {
        height: 50rem;
        padding: 20px;
        margin-left: 4.575em;
        margin-top: 5rem;
        width: 90rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .section {
        display: flex;
        align-items: center;
        height: 80px;
        width: 50px;
        box-sizing: border-box;
        text-align: center;
        margin: 0.5rem;
        transition: all 0.3s ease;
    }
    
    .button h2 {
        font-size: 21px;
        margin: 0;
        color: #333;
        text-shadow: 1px 1px #ccc;
    }
    
    button {
        width: 21.25em;
        border: 2px solid transparent;
        border-radius: 2%;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 4px 4px 20px 4px transparent;
    }
    
    #header h1 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: xx-large;
        background-color: darkblue;
        color: white;
        margin-left: 49px;
        padding: 10px;
        border-radius: 10px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        box-shadow: 5px 5px 10px rgba(100, 187, 220, 0.4) inset, -5px -5px 10px rgba(100, 187, 220, 0.4) inset;
    }
    
    #overviewbtn {
        margin-right: 280px;
        margin-top: 120px;
        margin-bottom: 80px;
    }
    
    #constituencybtn {
        margin-left: 280px;
        margin-top: 120px;
        margin-bottom: 80px;
    }
    
    #communitybtn {
        margin-right: 280px;
        margin-top: 100px;
    }
    
    #trendbtn {
        margin-left: 280px;
        margin-top: 90px;
    }
} */
